<div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/users"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>USERS
        </a>
      </div>
      <div class="col-sm">
        <a href="/car"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center">
       <span><i class="fa fa-car"></i></span>
       <br>CAR
     </a>
      </div>
      <div class="col-sm">
        <a href="/realized"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-shopping-cart"></i></span>
          <br>REALIZED
        </a>
      </div>
    </div>
  </div>