<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Home</a>
  <a class="navbar-brand" href="/login">Log out</a>
</nav>

<div class="container">
    <table style="margin-top: 5%; text-align: center;"  class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Price</th>
        <th>Vin number</th>
        <th>Year Of Prod</th>
        <th>Date Sale</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of CarSeller">
        <td><span>{{car.brand}}</span></td>
        <td><span>{{car.model}}</span></td>
        <td><span>{{car.price}}</span></td>
        <td><span>{{car.vin_number}}</span></td>
        <td><span>{{car.year_of_prod}}</span></td>
        <td><span>{{car.sale_date}}</span></td>
      </tr>
    </tbody>
  </table>
</div> 