<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Home</a>
  <a class="navbar-brand" href="/login">Log out</a>
</nav>
<!-- Button -->
<div class="border">
  <button class="btn btn-md btn-outline-primary" (click)="open(content)">
    <i class="fa fa-user"></i>New Car</button>
</div>

<!-- Table -->
<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Price</th>
      <th>Year Of Prod</th>
      <th>Vin Number</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let car of Car">
      <td><span>{{car.brand}}</span></td>
      <td><span>{{car.model}}</span></td>
      <td><span>{{car.car_price}}</span></td>
      <td><span>{{car.year_of_prod}}</span></td>
      <td><span>{{car.vin_number}}</span></td>
      <td>
        <button class="btn btn-sm btn-info" (click)="openDetails(contentDetails, car)">
          <i class="fa fa-search"></i>Details</button>
        <button class="btn btn-sm btn-warning" (click)="openEdit(contentEdit, car)">
          <i class="fa fa-edit"></i>Edit</button>
        <button class="btn btn-sm btn-danger" (click)="openDelete(contentDelete, car)">
          <i class="fa fa-remove"></i>Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div style="text-align: center; background-color: red;" >
    <h1>{{message}}</h1>
  </div>
  
</div> 

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Car</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
      <div class="form-group">
        <label for="brand">Brand</label>
        <div class="input-group">
          <input id="brand" class="form-control" name="brand" ngModel maxlength="20" type="text" required
          required placeholder="Enter brand" oninvalid="this.setCustomValidity('The field cannot be empty')"
          oninput="this.setCustomValidity('')">
        </div>
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <div class="input-group">
          <input id="model" class="form-control" name="model" ngModel maxlength="20" type="text" required
          required placeholder="Enter model" oninvalid="this.setCustomValidity('The field cannot be empty')"
          oninput="this.setCustomValidity('')" >
        </div>
      </div>
      <div class="form-group">
        <label for="car_price">Price</label>
        <div class="input-group">
          <input id="car_price" class="form-control" name="car_price" ngModel maxlength="20" type="text" required required placeholder="Enter car_price"
          oninvalid="this.setCustomValidity('The field cannot be empty')" oninput="this.setCustomValidity('')" >
        </div>
      </div>
      <div class="form-group">
        <label for="year_of_prod">Year Of Prod</label>
        <div class="input-group">
          <input id="year_of_prod" class="form-control" name="year_of_prod" ngModel maxlength="4" pattern="[0-9]{4}"
          type="text" required required placeholder="Enter year_of_prod" oninvalid="this.setCustomValidity('The field cannot be empty. field must have 4 digit')"
          oninput="this.setCustomValidity('')" >
        </div>
      </div>
      <div class="form-group">
        <label for="Vin">Vin</label>
        <div class="input-group">
          <input id="vin" class="form-control" name="vin_number" ngModel maxlength="12" type="text" pattern="[0-9]{12}" 
          required required placeholder="Enter vin" oninvalid="this.setCustomValidity('The field cannot be empty. Vin must have 12 digit')"
          oninput="this.setCustomValidity('')" >
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">User Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="brand">Brand</label>
        <div class="input-group">
          <input id="bra" class="form-control" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <div class="input-group">
          <input id="mod" class="form-control" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <input id="pri" type="number" class="form-control" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="year_of_prod">Year Of Prod</label>
        <div class="input-group">
          <input id="yea" type="number" class="form-control" readonly>
        </div>
      </div> 
      <div class="form-group">
        <label for="vin_number">Vin</label>
        <div class="input-group">
          <input id="vin_num" type="number" class="form-control" readonly>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
      </div> 
    </form>
  </div>
</ng-template>

<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="brand">Brand</label>
        <div class="input-group">
          <input formControlName="brand" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <div class="input-group">
          <input formControlName="model" class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label for="car_price">Price</label>
        <div class="input-group">
          <input formControlName="car_price" class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label for="year_of_prod">Year Of Prod</label>
        <div class="input-group">
          <input formControlName="year_of_prod" class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label for="vin_number">Vin</label>
        <div class="input-group">
          <input formControlName="vin_number" class="form-control" >
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-info" (click)="onSave()">Submit</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2 class="text-center">Are you sure you want to delete this car.</h2>
    <div class="border text-center"> 
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button> 
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>